%a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
= link_to current_site['site_name'], homepage_path(:locale => I18n.locale), :class => "brand"
.container.nav-collapse
  = get_menu("main_menu", "nav")
  %ul.nav.pull-right
    - if user_signed_in?
      %li= link_to t("header.logout"), destroy_user_session_path, :method => :delete
    - else
      %li= link_to t("header.login"), new_user_session_path
      %li= link_to t("header.signup"), new_user_registration_path
