%a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to "mopxcms", root_path, :class => "brand"
.container.nav-collapse
  = get_menu("main_menu", "nav")
  %ul.nav.pull-right
    - if user_signed_in?
      %li= link_to t("header.logout"), destroy_user_session_path, :method => :delete
    - else
      %li= link_to t("header.login"), new_user_session_path
      %li= link_to t("header.signup"), new_user_registration_path
