!!!
%html
  %head
    %title Mopxcms
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    - if user_signed_in?
      %li= link_to t("header.logout"), destroy_user_session_path, :method => :delete
    - else
      %li= link_to t("header.login"), new_user_session_path
      %li= link_to t("header.signup"), new_user_registration_path
    = yield
