!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= site_title
    = csrf_meta_tags
    %meta{:content => @meta_keywords.present? ? @meta_keywords : current_site['meta_keywords'], :name => "keywords"}
    %meta{:content => @meta_description.present? ? @meta_description : current_site['meta_description'], :name => "description"}
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
  %body{:class => body_tag_classes}
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          = render :partial => "shared/navbar"
    .container-fluid
      - if content_for?(:notification)
        = yield(:notification)
      - else
        = flash_messages
      - if content_for?(:pagination)
        .row-fluid
          .span12
            .pagination-top
              = yield(:pagination)
      .row-fluid
        .span9
          = yield    
        .span3
          .sidebar-nav
            = render :partial => "pages/sidebar"
      %footer
        %p
          = "© 2012 #{current_site['site_title']}."
    = javascript_include_tag "application"
